<ion-view title="Tela inicial paciente">
  <ion-content padding="true" class="has-header">
    <button ui-sref="marcarConsulta01" class="button button-positive button-block" ng-click="">Nova Consulta</button>
    <button ui-sref="consultasPaciente" class="button button-positive button-block" ng-click="">Consultas</button>
    <!--<button class="button button-positive button-block" ng-click="">Alterar Dados</button>-->
    <button ng-click="logout()" class="button button-assertive  button-block">Logout</button>
  </ion-content>
</ion-view>