/* Empty. Add your own CSS if you like */
.platform-ios .manual-ios-statusbar-padding{
	padding-top:20px;
}
.manual-remove-top-padding{
	padding-top:0px; 
}
.manual-remove-top-padding .scroll{
	padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
	margin-left:-10px;
	margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
	border-radius:0px;
	border-left:0px;
	border-right: 0px;
}
.show-list-numbers-and-dots ul{
	list-style-type: disc;
	padding-left:40px;
}
.show-list-numbers-and-dots ol{
	list-style-type: decimal;
	padding-left:40px;
}

/*********** CSS de erro de formulário ***********/
/** Styling for the username field **/
label.item.has-error {
	border-bottom: 2px solid #ef473a;
}
/** Styling for the password field when an error exists**/
label.item.has-error-lr {
	border-left: 2px solid #ef473a;
	border-right: 2px solid #ef473a;
}
/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
	border-left: 2px solid #33cd5f;
	border-right: 2px solid #33cd5f;
}
/** Styling for the error text and container **/
.form-errors {
	margin: 5px 0
}
.form-error {
	padding: 2px 0 2px 16px;
	color: #ef473a;
}